/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .post {
    width: 48%;
    max-width: 100%;
    margin: 0 0.9% 1.5%;
    flex-direction: column;

    .post-thumbnail {
      width: 100%;
    }

    .post-content {
      width: 100%;
      .post-title {
        margin: 0 0 5px;
        a {
          font-size: 21px;
        }
      }
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 1px 1px 0 rgba(31, 35, 46, .15);

    footer {
      margin-bottom: 10px;
    }

  }
  .about {
    text-align: center;
    max-width: 480px;
    margin: 10px auto auto;
    img {
      width: 100px;
      height: 100px;
      border-radius: 100%;
      margin-bottom: 10px;
    }
}

.view {
  display: flex;
  justify-content: space-around; /* 중앙 정렬을 위해 */
  list-style-type: none; /* 리스트 마커 제거 */
  padding: 0; /* 기본 패딩 제거 */
  margin: 0; /* 기본 마진 제거 */

  li {
    &:first-child {
      border-right: 1px solid #ccc; /* 첫 번째 요소에만 오른쪽 테두리 추가 */
    }

    &:last-child {
      border-left: 1px solid #ccc; /* 마지막 요소에만 왼쪽 테두리 추가 */
    }

    a {
      text-decoration: none; /* 링크 밑줄 제거 */
      padding: 10px 20px; /* 여백 추가 */
      color: #333; /* 텍스트 색상 설정 */
      transition: all 0.3s ease; /* 부드러운 전환 효과를 위해 */
      
      &:hover {
        background-color: #f0f0f0; /* 호버 시 배경색 변경 */
      }
    }
  }
}

  .content-box {
    padding: 20px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }

.contact-title, .copyright {
  display: none;
}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .content-box {
    padding: 10px;
  }
  .post {
    width: 98%;
    max-width: 100%;
    margin: 2%;
    flex-direction: column;

    .post-thumbnail {
      width: 100%;
    }

    .post-content {
      width: 100%;
      .post-title {
        margin: 0 0 5px;
        a {
          font-size: 21px;
        }
      }
    }
  }
}
